#adoptContent
{
    font-weight:bold;
    text-align:center;
    font-size:1.5em;
    color:#990033;
}

.adoptSection
{
    width:79.3%;
    padding-left:.5%;
    padding-bottom:1%;
    min-height:1000px;
    font-size:1em;
    text-align:left;
    border-right:1px solid black;
    background-image:url("../images/pinkGradient.jpg");
    position:relative;
    float:left;
}

#video
{
    width:420px;
    min-height:270px;
}
